body{
  text-align: center;
  
}
.plan-main{
  height: 90vh; 
  background-color: rgb(232, 251, 252);
}



.share{
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-around;
}

.plan-content{
  float: right;
}
.plan-table{
  position: relative;
  right: 120px;
}
.plan-change{
  float: left;
}

footer{
  text-align:center;
  background-color: rgb(232, 251, 252);
  height: 10vh;
}

.plan-footer{
  position: relative;
  top: 20px;
  
}


.plan-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 1px black;
  border: solid 1px black;
}

table th{
  border-right: 1px solid black;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(105, 247, 247);
  align-items: center;
}
 
.title {
  margin-right: auto;
  color: black;
  text-decoration:none;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}


/* destroy */
 .contents{
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  position: relative；
}

.success{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
} 




/* user */



.user-new {
  height: 200px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-repeat: no-repeat;
  text-align: center;
  }




/* コメント */
.twitter{
display: inline-block;
  border-radius: 5px;
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: white;
  width: 80px;
}

.line{
  display: inline-block;
  border-radius: 5px;
  background-color: chartreuse;
  padding: 10px;
  text-align: center;
  color: white;
  width: 80px;
}

.facebook{
display: inline-block;
  border-radius: 5px;
  background-color: darkblue;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100px;
}
