<%= render "users/user_login" %> 
<body>

  <div calss="title">
   <div class="plan-top">
      <div class="plan-title">
        友達とキャンプ
      </div>
        <div class="plan-date">
          2021/1/1
        </div>
    </div> 
  </div>
  <div class='main'>

   

        <div class="left-content">
            <div class="left-plan">
              <div class="plan-time">
                07:10
              </div>  
              <div class="place">
                平和島公園
              </div>
              <div class="do-list">
                <details>
                   <summary>やりたいことリスト</summary>
                     <li>折りたたむ内容</li>
                     <li>折りたたむ内容</li>
                     <li>折りたたむ内容</li>
                </details>
              </div>
          </div>
      </div>

      

    <div class="right-content">
    </div>
  </div>
</body>